<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">
				<div class="inner">
					<h1 class="masthead-brand">Protocore <sup><small>v0.0.5</small></sup></h1>
					<ul class="nav masthead-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
					</ul>
				</div>
			</div>
			<div class="inner cover">
				<h1 class="cover-heading">Learn, Develop & Perform Web</h1>
				<p class="lead">Protocore is an open source walking application skeleton for a typical unstructured JavaScript/jQuery web apps. You can use it to quickly bootstrap your unstructured JavaScript/jQuery web application projects.</p>
				<p class="lead">
					<a class="btn btn-default btn-sm" href="//github.com/hegdeashwin/Protocore" target="_blank">Learn more...</a>
				</p>
			</div>
			<div class="mastfoot">
				<div class="inner">
					<p>
						<iframe src="http://ghbtns.com/github-btn.html?user=hegdeashwin&repo=Protocore&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
	  					<iframe src="http://ghbtns.com/github-btn.html?user=hegdeashwin&repo=Protocore&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
	  					<iframe src="http://ghbtns.com/github-btn.html?user=hegdeashwin&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="165" height="20"></iframe>
					</p>
					<p>
						Maintained by the <a href="//github.com/hegdeashwin" target="_blank">core developer</a> with the help of our <a href="//github.com/hegdeashwin/Protocore/graphs/contributors" target="_blank">contributors</a>. Code licensed under <a href="//raw.github.com/hegdeashwin/Protocore/master/LICENSE" target="_blank">MIT</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>